<div class="card card-location" style="background-image: url('<%= cl_image_path location.photo.path %>')">
  <div class="card-category"></div>
  <div class="card-description">
    <h2>
      <%= location.title %>
    </h2>
    <!-- <p><%#= location.description %></p> -->
  </div>
  <!--<img class="card-user avatar" src="user.jpg-->
  <%= link_to "", location_path(location), class: "card-link"%>
</div>
