<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('carots.JPG') %>);">
  <div class="banner-content">
    <h1>Commencez à faire pousser votre nourriture !</h1>
    <p>Apprenez à cultiver votre propre nourriture dans des lieux uniques, chez vous, seul ou en groupe.</p>
  </div>
</div>


<div class="container paddedh">
<form action="/locations" method="get" class="form-inline" >
  <div class="form-group">
    <select name="urban" id="urban" class="form-control">
      <option selected="selected" value="true">S'initier à l'agriculture urbaine</option>
      <option value="false">Découvrir les bonnes pratiques à la campagne</option>
    </select>
  </div>
  <div class="form-group">
    <input type="text" class= "form-control" placeholder="Ville de votre choix" name="city">
  </div>
  <div class="form-group">
    <select name="capacity" id="capacity" class="form-control">
      <option value="1">1 participant</option>
      <option value="2">2 participants</option>
      <option value="3">3 participants</option>
      <option value="4">4 participants</option>
      <option value="5">5 participants</option>
      <option value="6">6 participants</option>
      <option value="7">7 participants</option>
      <option value="8">8 participants</option>
      <option value="9">9 participants</option>
      <option value="10">10 participants</option></select>
    </select>
  </div>
    <button type="submit" class="btn btn-primary">Rechercher</button>
</form>
</div>

<!-- CARDS -->
<div class="container">
 <div class="row">
    <% @locations.each do |location| %>
    <div class="col-xs-12 col-sm-4 padded">
      <%= render "shared/location_card", location: location %>
    </div>
    <% end  %>
  </div>
</div>





