
<div class="container">
  <div class="row">
  <!-- COL GAUCHE -->
    <div class="col-sx-12 col-md-7">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group paddedup">
            <h4 class="paddeddown">Vous avez choisi l'agriculture urbaine !</h4>
            <input type="text" class= "form-control" placeholder="Ville de votre choix" name="city">
          </div>
        <div class="form-group">
          <select name="capacity" id="capacity" class="form-control">
            <option value="1">1 participant</option>
            <option value="2" selected="selected">2 participants</option>
            <option value="3">3 participants</option>
            <option value="4">4 participants</option>
            <option value="5">5 participants</option>
            <option value="6">6 participants</option>
            <option value="7">7 participants</option>
            <option value="8">8 participants</option>
            <option value="9">9 participants</option>
            <option value="10">10 participants</option></select>
          </select>
        </div>
          <form action="/locations" method="get" class="form-inline">
            <button type="submit" class="btn btn-default">Street containers</button>
            <button type="submit" class="btn btn-default">Rooftop permaculture</button>
            <button type="submit" class="btn btn-default">Jardins partagés</button>
          </form>
        </div>
      </div>
      <% if @locations.empty? %>
        <p class="padded">Pas encore de stage correspondant à votre recherche :(</p>
      <% else %>
        <% @locations.each do |location |%>
            <div class="col-xs-12 col-md-6 padded">
              <%= render "shared/location_card", location: location %>
            </div>
        <% end %>
      <% end %>
    </div>
    <!-- COL DROITE -->
    <div class="col-xs-12 col-md-5 padded">
      <div id="map" style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; height: 100vh;" class="paddedup"></div>
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

      </div>
    </div>
</div>


